<h1>Drawer and animations</h1>

<h2>DrawerCanvas and Timeline</h2>
Urpflanze is primarily a library for generating points, however there is a basic class to show the result of their
processing: the
<a href="#/ref/DrawerCanvas">DrawerCanvas</a>.<br />
In the previous examples we have already seen that we can use the <mark>draw()</mark> method to render the image at a
given moment and the <mark>startAnimation()</mark> method to start the animation.
<p>
	To manage an animation, you can use the <a href="#/ref/Timeline">Timeline</a> class to set the duration and the
	framerate.
</p>

<!-- prettier-ignore -->
<script id="d-t_1" class="runnable-script">/** 
 * Examples of using the Timeline
 */
const scene = new Urpflanze.Scene()

const shape = new Urpflanze.Rect({
    repetitions: [6, 6],
    sideLength: 10,
    distance: 20,
})

const container = new Urpflanze.Shape({
    shape: shape,
    repetitions: 4,
    distance: 100,
    rotateY: ({ time }) => time * Urpflanze.PI2 / 4000,
    perspective: .92
})

scene.add(container) 

const drawer = new Urpflanze.DrawerCanvas(scene, document.body)

const timeline = drawer.getTimeline()
timeline.setFramerate(4) // Set animation framerate
timeline.setDurate(4000) // Set animation duration

drawer.startAnimation()
</script>

<h2>Simple animations</h2>
If you are unfamiliar with periodic functions you can use the
<a href="#/ref/ISimpleAnimation">SimpleAnimation</a>. There can be three types by setting the
<mark>type</mark> property:

<ul class="details">
	<li>
		<mark>loop</mark>
		<i>
			the animation will repeat from <mark>from</mark> to <mark>to</mark> and from <mark>to</mark> to
			<mark>from</mark> for the specified duration
		</i>
	</li>
	<li>
		<mark>uncontrolled-loop</mark>
		<i>the animation will repeat from <mark>from</mark> to <mark>to</mark> for the specified duration</i>
	</li>
	<li>
		<mark>static</mark>
		<i>
			the animation will run once from <mark>from</mark> to <mark>to</mark> for the specified duration, you can use the
			<mark>delay</mark> property to start it at the desired time
		</i>
	</li>
</ul>

<p>
	Through the property <mark>mode</mark> it is possible to specify whether it must follow a sinusoidal trend or a
	<a href="#/ref/TEasing">easing</a>.
</p>

<h2>Options for the DrawerCanvas</h2> 
At DrawerCanvas it is possible to pass some topics for other experimentations through
the object <a href="#/ref/IDrawerCanvasOptions">DrawerCanvasOptions</a>. Let's try to make an example by setting i
<mark>ghosts</mark> and with the use of <mark>SimpleAnimation</mark>
    

<!-- prettier-ignore -->
<script id="d-t_2" class="runnable-script">/** 
 * DrawerCanvas options e SimpleAnimation
 */
const scene = new Urpflanze.Scene()

const circles = new Urpflanze.Circle({
    repetitions: 4,
    sideLength: 60,
    scale: Urpflanze.Animation.loop({
        from: 0.6,
        to: 0.1,
        durate: 2000,
        mode: 'easing',
        modeFunction: 'quadraticInOut'
    }),
    distance: Urpflanze.Animation.loop({
        from: 20,
        to: 100,
        durate: 2000
    }),
    displace: Urpflanze.Animation.uncontrolledLoop({
        from: 0,
        to: Math.PI * 2,
        durate: 4000,
        mode: 'easing',
        modeFunction: 'linear'
    }),
    rotateX: Urpflanze.Animation.uncontrolledLoop({
        from: 0,
        to: Math.PI * 2,
        durate: 4000,
    }),

    style: {
        stroke: Urpflanze.Animation.loop({
            from: 'hsl(0, 50%, 50%)',
            to: 'hsl(140, 100%, 40%)',
            colorTransitionMode: 'rgb',
            durate: 2000,
        })
    }
})

scene.add(circles)

const drawer = new Urpflanze.DrawerCanvas(scene, document.body, {
    ghosts: 120,
    ghostSkipFunction: ghostRepetition => ghostRepetition.index ** 1.65,
}, 1, 4000)

drawer.startAnimation()
</script>
</h2>
