<h1>VertexCallback</h1>
<p>
	The <mark>vertexCallback</mark> property is a function that is called on each point of the shape of each repetition.
</p>

<!-- prettier-ignore -->
<script id="v-c_1" class="runnable-script">/**
 * VertexCallback
 */
const scene = new Urpflanze.Scene()

const rect = new Urpflanze.Rect({
    sideLength: 100,
    scale: () => 1,
    vertexCallback: (vertex, vertexRepetition, propArguments) => {

        const angle = Math.atan2(vertex[1], vertex[0])
        
        const x = Math.cos(angle) 
        const y = Math.sin(angle) 

        const offset = 20
        const noise = propArguments.context.noise('seed', vertexRepetition.offset * 2, propArguments.time / 1000) * offset

        vertex[0] += x * noise 
        vertex[1] += y * noise 
    }
})

rect.subdivide(4) // Only ShapeBuffer can be subdivided

scene.add(rect)

new Urpflanze.DrawerCanvas(scene, document.body).startAnimation() 
</script>

<p>
	For an animation on the vertexCallback property, the shape must not be static (therefore at least one properties is a
	function)
</p>
